{% extends "baseline.html" %}
{% block content %}

<section style="margin-left:30%;">
	<h1>EDIT {{category_name}} ITEM</h1>		
	
	<form action='{{url_for('EditCatalog',item_id= item_id)}}' method="POST">
		<input type="text" name="category_name" value="{{category_name}}" readonly style="min-width:50%;display:block; margin-bottom:2%; min-height:2em; padding:0.4%;"/>				
		
		<input type="hidden" name="item_creator" value="{{item_creator}}" style="min-width:50%;display:block; margin-bottom:2%; min-height:2em; padding:0.4%;"/>
		
		<input type="text" name="item_id" value="{{item_id}}" readonly style="min-width:50%;display:block; margin-bottom:2%; min-height:2em; padding:0.4%;"/>
					
		<input type="text" name="category_item" value="{{category_item}}" style="min-width:50%;display:block; margin-bottom:2%; min-height:2em; padding:0.4%;"/>
		
		<textarea name="item_description" style="min-width:50%;display:block; margin-bottom:2%; min-height:5em; padding:0.4%;">{{item_description}} </textarea>			
		
		<input type="submit" name="signup" value="SUBMIT" style="padding:0.8%; background-color:#6dccd4;height:auto;border: none;font-size:1em;">
	</form>
</section>

{%endblock %}